

.card{

  background-color: #ff5f5f;
  border-radius: 10px;
  width: 21.25rem;
  height: 21.25rem;
  flex-shrink: 0;
  position: relative;
  .card_Title{
    position: absolute;
    top: 267px;
  }
}

