@import 'main';

.Cover{
    display: flex;
    justify-content: center;
    position: relative;
    .Cover_image {
        width: 100%;
        height: 13.9375rem;
        flex-shrink: 0;
        border-radius: 1.5625rem;
        opacity: 0.6;
        background: #000;
        filter: brightness(0.5);
        position: relative;
        @media (max-width: 599px) {
            height: 8.75rem;
            border-radius: 0.9375rem;
        }
    }
    .Cover_Title{
        position: absolute;
        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Montserrat;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 142.6%;              
        top: 23%;
        @media (max-width: 599px) {
            font-size: 24px;
            line-height: 100%; /* 24px */
            top: 25%;

        }
    }
}

