.Home > .collapse-container {
    display: inline-flex;
    flex-direction: column;
    align-items: CENTER;
    gap: 1.875rem;
    margin-bottom: 40px;
    width: 100%;
    // padding: 0px 36px;
    @media (max-width: 599px) {
      padding: 0px ;
    }
  
}