.footer{
    background-color: black;
    display: flex;
    padding: 2.5rem 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.78475rem;
    // padding: 0px ;
    .footer_text{
        color: white;
    }
}