@import 'main';



.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  @media (max-width: 599px) {
    padding: 0;
  }
  .Header_navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: flex-start;
    gap: 3.5625rem;
    color: white;
    text-decoration: none;
    font-family: $body-font;
    font-size: $header-font-size;
    font-weight: $header-font-weight;
    color: $color-primary;
    @media (max-width: 599px) {
      gap: 1.25rem;
    }
  }
  .Header_image {
    width: 6.25rem;
    height: 1.875rem;
    flex-shrink: 0;
  }
}
