.Cardcontainer{
    border-radius: 10px;
    background: #f6f6f6 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 58px;
    gap: 48px;
    // justify-content: center;
    // align-items: center;
    margin: auto;
    // width: 77.5rem;
  }