.Cardcontainer{
    border-radius: 10px;
    background: #f6f6f6 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 58px;
    gap: 48px;
    @media (max-width: 599px) {
      gap: 20px;
      background:white ;
      display: flex;
      flex-direction: column;
      padding: 0px;

    }
  }