// Variables
$slide-width: 100%;
$slide-height: 400px;
$slide-transition-duration: 0.5s;

// Conteneur du carrousel
.slideshow {
  position: relative;
  width: $slide-width;
  height: $slide-height;
  overflow: hidden;
  border-radius: 10px;
  // Conteneur des slides
  .slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform $slide-transition-duration ease-in-out;

    // Style pour chaque slide
    .slide {
      min-width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  // Boutons de navigation
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}